.portfolio-page {
	.hero {
		&__inner {
			border-bottom: $light-orange 1px solid;
		}
		&__wrapper {
			padding: 124px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__title {
			font-weight: bold;
		}
		&__description {
			max-width: 588px;
			width: 100%;
		}
	}
	.projects {
		margin-top: 100px;
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 68px 24px;
		}
		&__card {
			display: flex;
			flex-direction: column;
			gap: 32px;
		}
		&__title {
			padding-left: 60px;
			font-size: 36px;
		}
	}
}
